.TopBar {
    background-color: #470000;
}

#version {
    color: #888888;
}

.RightBar {
    background-color: rgba(100, 20, 0, 0.2);
}

.NewsSection {
    background-color: rgba(50, 10, 0, 0.4);
    z-index: 4;
}

.NewsTabs {
    background-color: rgba(50, 10, 0, 0.4);
}

.NewsTab.selected {
    border-bottom: 2px solid orangered;
}

.BottomSection {
    backdrop-filter: blur(0px);
    box-shadow: inset 0px 0px 0px 0px;
    z-index: 4;
}

.BottomSection 
.CheckboxDisplay {
    background-color: rgba(50, 10, 0, 1);
}

.TextInput {
    color: white;
    border-bottom: 2px solid red;
    background-color: rgba(50, 10, 0, 0.6);
}

.HelpContents 
.MiniDialog {
    color: white;
    background-color: rgba(50, 10, 0, 0.6);
}

.BigButton {
    background: linear-gradient(brown, darkred);
    color: burlywood;
}

.BigButton:hover {
    background: linear-gradient(darkred, brown);
}
  
.BigButton.disabled {
    background: linear-gradient(#6d4646, #c49c9c);
    color: rgb(226, 226, 226);
}
  
.BigButton.disabled:hover {
    background: linear-gradient(#c49c9c, #6d4646);
}

.ServerIcon {
    filter: invert(100%) sepia(38%) saturate(1140%) hue-rotate(352deg) brightness(86%) contrast(88%);
}

.Menu {
    background-color: rgba(50, 10, 0, 0.8);
    color: white;
}

.MenuExit img {
    filter: invert(1);
}

.InnerProgress {
    background-color: blanchedalmond;
}